<div class="">
  <h3>Free T-shirt!</h3>
  <p>
    As a member of the ANZ Hotshots program, you will be entitled to a free t-shirt and heaps of other cool stuff.
  </p>
  <p>
    To claim your shirt, head over to <a href='https://hotshots.tennis.com.au/claim'>Hotshots.tennis.com.au</a>
  </p>
</div>
