<a href="http://hotshots.tennis.com.au/start-playing/claim">
  <div class="registered-players"></div>
</a>
<hr>
<iframe width="100%" height="315" src="//www.youtube.com/embed/FOG0ViKczLo" frameborder="0" allowfullscreen></iframe>
<hr>
<h3>Learn more about ANZ Hotshots</h3>
<hr>
<%= render 'inquiries/form' %>
