<%= render partial: "shared/banner", locals: { resource: "Contact Us", post: @post } %>

<div class="wrapper">
  <div class="outline-box card popout-card">
    <%= render 'inquiries/form' %>
  </div>
</div>
