<%= render partial: "shared/banner", locals: { resource: "Contact Us", post: @post } %>

<div class="wrapper">
  <div class="outline-box card popout-card">
    <h5>To learn more about Gregson's Tennis Advantage, please fill out the form below and we'll be in touch!</h5>
    <hr>
    <%= render 'inquiries/form' %>
  </div>
</div>
