<div class="shop box card popout-card">
  <%= image_tag('http://www.tennisplaza.com/prodimages/alt_images/large/140123-2.JPG', class: 'product-image') %>
  <h3>Latest Products</h3>
  <p>Gregson's Tennis Advantage offers you the latest products at the best prices.</p>
</div>
