.banner-wrapper {
  position: relative;
  margin-bottom: 5px;
  h4 {
    font-family: $serif;
  }
}

.banner-pic {
  min-height: 350px;
  display: none;
  @include media($large-screen) {
    display: block;
    @include span-columns(4);
  }
  img {
    position: relative;
    width: 100%;
    top: 25px;
    z-index: 100;
  }
}

.banner-info {
  @include media($large-screen) {
    @include span-columns(8);
    @include omega();
    padding: 2.5em 0;
  }
  @include outer-container();
  padding: 60px 2em;
  color: $light-gray;
  .buttons {
    display: none;
  }
  @include media($large-screen) {
    .buttons {
      display: inline-block;
    }
  }
}

.banner-footer {
    display: none;
    @include media($large-screen) {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 99;
      @include background(radial-gradient(transparentize($light-green, 0.7), transparentize($light-green, 0.5)));
      article {
        @include span-columns(6);
        @include shift(4);
        padding: 10px 0;
        color: $light-gray;
      }
  }
}

//////////////////////////////////////////////////////////////////

@mixin grid-item-columns($columns) {
  width: (100% / 12) * $columns;
}


.welcome-grid {
  $welcome-grid-items-background: $base-background-color;
  $welcome-grid-item-background: none;
  $welcome-grid-item-colors:
    desaturate($base-accent-color, 30),
    $light-green,
    darken($light-green, 20),
    $base-accent-color,
    lighten($light-green, 10),
    lighten($base-accent-color, 10),
    darken($light-green, 20);
  $welcome-grid-item-border-size: 9px;
  $welcome-grid-item-columns: 3;
  $welcome-grid-item-big-columns: 9;
  $welcome-grid-item-color: white;
  $welcome-grid-item-height: 14em;

  @include background(linear-gradient(rgba(100, 100, 100, 0.6), rgba(100, 100, 100, 0.6)), url('court.jpg'));
  background-size: cover;
  background-position: fixed;
  background-repeat: no-repeat;


  .welcome-grid-item {
    @include transition (all 0.2s ease-in-out);
    width: 100%;
    height: 100%;
    float: left;
    background: $welcome-grid-item-background;
    color: white;
    border-color: none;
    border: none;
    text-align: justify;
    cursor: pointer;
    @include media($large-screen) {
      @include grid-item-columns($welcome-grid-item-columns);
    }
  }

  .welcome-logo {
    background: $light-green;
    .welcome-grid-item {
      border: 10px solid transparent;
    }
  }

  .welcome-grid-item-big {
    padding: 2em;
    @include media($large-screen) {
      @include grid-item-columns($welcome-grid-item-big-columns)
    }
    img {
      @include span-columns(2);
    }
  }

}


.grid-items {
  $grid-items-background: $base-background-color;
  $grid-item-background: desaturate($base-accent-color, 30);
  $grid-item-colors:
    desaturate($base-accent-color, 30),
    $light-green,
    darken($light-green, 20),
    $base-accent-color,
    lighten($light-green, 10),
    lighten($base-accent-color, 10),
    darken($light-green, 20);
  $grid-item-border-size: 9px;
  $grid-item-border-radius: $base-border-radius;
  $grid-item-columns: 4;
  $grid-item-big-columns: 8;
  $grid-item-color: #333;
  $grid-item-height: 14em;

  i {
    color: white;
  }

  @include clearfix;

  .grid-item {
    @include transition (all 0.2s ease-in-out);
    height: $grid-item-height;
    width: 100%;
    overflow: hidden;
    float: left;
    padding: 2em;
    border-top: 0;
    border-bottom: $grid-item-border-size solid $grid-items-background;
    border-left: $grid-item-border-size /2 solid $grid-items-background;
    border-right: $grid-item-border-size /2 solid $grid-items-background;
    text-align: center;
    cursor: pointer;

    p {
      text-align: justify;
    }

    @include media($large-screen) {
      @include grid-item-columns($grid-item-columns);
    }

    @for $i from 1 to 8 { // assign colors from $grid-item-colors list
      &:nth-child(#{$i}) {
        $background-from-list: nth($grid-item-colors, $i);
        background-color: $background-from-list;
        // box-shadow: inset 0px 0px 1px 2px darken($background-from-list, 10);
        &:hover {
          background-color: transparentize($background-from-list, .20);
        }
      }
    }
  }

  .grid-item img {
      display: block;
      height: 3em;
      margin: auto;
      margin-bottom: 1em;
    }

  .grid-item h1 {
      color: white;
      font-size: 1.3em;
      margin-bottom: .4em;
    }

  .grid-item p {
      margin: auto;
      color: white;
      @include media($medium-screen) {
        max-width: 70%;
      }
    }

  .grid-item-big {
    @include media($large-screen) {
      @include grid-item-columns($grid-item-big-columns);
    }
    p {
      @include media($medium-screen) {
        max-width: 60%;
      }
    }
  }

   .grid-item-image-1 {
     @include background(radial-gradient(transparentize(#d1cdb2, 0.2), transparentize(#d1cdb2, 0.3)), url('grass-court.jpg'));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

    .grid-item-image-2 {
     background: url('hotshots.png');
     background-repeat: no-repeat;
     background-position: center;
     background-size: 250px;
   }

   .grid-item-image-3 {
    @include background(radial-gradient(transparentize($dark-gray, 0.1), transparentize($dark-gray, 0.2)), url('tennis-raquets.png'));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
