.inquire {
  @include span-columns(12);
  display: none;
}

.inquiry-panel {
  @include span-columns(5);
  background: $light-gray;
  img {
    height: 100%;
  }
}

.inquiry-form {
  @include span-columns(7);
}

.name {
}

.email {
  @include span-columns(6);
}

.phone {
  @include span-columns(6);
  @include omega();
}
