<%= render partial: "shared/banner", locals: { resource: "Locations", post: @post } %>

<div class="wrapper">
  <% @locations.each do |location| %>
    <%= render :partial => 'location_card', locals: { location: location } %>
  <% end %>
</div>
