<%= render :partial => 'location_card', locals: { location: @location } %>


<div class="box card popout-card">
  <iframe width="100%" height="450" frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?q=11%20Parkwood%20Place%2C%20North%20Rocks%2C%20New%20South%20Wales%2C%20Australia&key=AIzaSyAbF9So9sIglwBGmjH-ygnXQNl70j3YEmE"></iframe>
</div>
